body {
    width: 100%;
}

.body-container {
    background-color: aliceblue;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.heading {
    text-align: center;
}

.disclosure-notice {
    color: lightgray;
}